In [1]:
import numpy as np
ar_list = [i for i in range(20)]
np_list = np.array(ar_list)

In [2]:
a = [1,2,3,4,5,6]
for i, j in enumerate(a):
    print(i, j, sep=",")

0,1
1,2
2,3
3,4
4,5
5,6

In [3]:
for i in range(0, 10, 2):
    print("*******************************", i)
    for j in range(0, 10, 2):
        print("j : " , j)

******************************* 0
j :  0
j :  2
j :  4
j :  6
j :  8
******************************* 2
j :  0
j :  2
j :  4
j :  6
j :  8
******************************* 4
j :  0
j :  2
j :  4
j :  6
j :  8
******************************* 6
j :  0
j :  2
j :  4
j :  6
j :  8
******************************* 8
j :  0
j :  2
j :  4
j :  6
j :  8

In [4]:
for i in range(0, 10, 2):
    print("*************************", i, "단")
    for j in range(0, 10, 2):
        print("j : ", j)

************************* 0 단
j :  0
j :  2
j :  4
j :  6
j :  8
************************* 2 단
j :  0
j :  2
j :  4
j :  6
j :  8
************************* 4 단
j :  0
j :  2
j :  4
j :  6
j :  8
************************* 6 단
j :  0
j :  2
j :  4
j :  6
j :  8
************************* 8 단
j :  0
j :  2
j :  4
j :  6
j :  8

In [5]:
for i in range(1, 10, 1):
    print("*************", i, "단", "************")
    for j in range(1, 10, 1):
        print(i, "*", j, " = ", i * j)

************* 1 단 ************
1 * 1  =  1
1 * 2  =  2
1 * 3  =  3
1 * 4  =  4
1 * 5  =  5
1 * 6  =  6
1 * 7  =  7
1 * 8  =  8
1 * 9  =  9
************* 2 단 ************
2 * 1  =  2
2 * 2  =  4
2 * 3  =  6
2 * 4  =  8
2 * 5  =  10
2 * 6  =  12
2 * 7  =  14
2 * 8  =  16
2 * 9  =  18
************* 3 단 ************
3 * 1  =  3
3 * 2  =  6
3 * 3  =  9
3 * 4  =  12
3 * 5  =  15
3 * 6  =  18
3 * 7  =  21
3 * 8  =  24
3 * 9  =  27
************* 4 단 ************
4 * 1  =  4
4 * 2  =  8
4 * 3  =  12
4 * 4  =  16
4 * 5  =  20
4 * 6  =  24
4 * 7  =  28
4 * 8  =  32
4 * 9  =  36
************* 5 단 ************
5 * 1  =  5
5 * 2  =  10
5 * 3  =  15
5 * 4  =  20
5 * 5  =  25
5 * 6  =  30
5 * 7  =  35
5 * 8  =  40
5 * 9  =  45
************* 6 단 ************
6 * 1  =  6
6 * 2  =  12
6 * 3  =  18
6 * 4  =  24
6 * 5  =  30
6 * 6  =  36
6 * 7  =  42
6 * 8  =  48
6 * 9  =  54
************* 7 단 ************
7 * 1  =  7
7 * 2  =  14
7 * 3  =  21
7 * 4  =  28
7 * 5  =  35
7 * 6  =  42
7 * 7  =  49
7 * 8  =  56
7 * 9  =  63
************* 8 단 ************
8 * 1  =  8
8 * 2  =  16
8 * 3  =  24
8 * 4  =  32
8 * 5  =  40
8 * 6  =  48
8 * 7  =  56
8 * 8  =  64
8 * 9  =  72
************* 9 단 ************
9 * 1  =  9
9 * 2  =  18
9 * 3  =  27
9 * 4  =  36
9 * 5  =  45
9 * 6  =  54
9 * 7  =  63
9 * 8  =  72
9 * 9  =  81

In [6]:
i = 1
while i < 6:
    i += 1
    print("Result !!!")

Result !!!
Result !!!
Result !!!
Result !!!
Result !!!

In [7]:
i = [1,2,3,4,5]
print(i)

[1, 2, 3, 4, 5]

In [9]:
i = 1
while (i < 7):
    i += 1
    print("값을 입력해주세요.")

값을 입력해주세요.
값을 입력해주세요.
값을 입력해주세요.
값을 입력해주세요.
값을 입력해주세요.
값을 입력해주세요.

In [24]:
import random

a = [random.randint(1, 100) for i in range(10)]
print(a)

maxA = a[0]

for i in range(1, len(a)):
    if maxA < a[i]:
        maxA = a[i]
        print("가장 큰 값은 : ", maxA)

[46, 19, 14, 35, 18, 22, 49, 12, 35, 47]
가장 큰 값은 :  49

In [25]:
keys = ["name", "age", "address"]
users = ["tom", 20, "incheon"]
dic = dict(zip(keys, users))
print(dic)

{'name': 'tom', 'age': 20, 'address': 'incheon'}

In [26]:
lis = list(zip(keys, users))
print(lis)

[('name', 'tom'), ('age', 20), ('address', 'incheon')]

In [28]:
a = [[10, 20], [30, 40], [50, 60]]
a = [[10, 20],
    [30, 40],
    [50, 60]]
a

[[10, 20], [30, 40], [50, 60]]

In [29]:
def func(a, b):
    print("함수입니다.")
    return a + b

In [30]:
func_test = func(1,2)
print(func_test)

함수입니다.
3

In [31]:
#전역변수 a, b
a = 1
b = 2
c = 5

def func1():
    a = 3 
    b = 4
    print(a, b, c)
    return

In [32]:
func1()

3 4 5

In [33]:
a = 1
b = 2
c = 5

def func2():
    a = 5
    b = 6
    
func1()
    a = 3
    b = 4
    
print(func1(), func2())

3 4 5
3 4 5
None None

In [34]:
a = 1
b = 2
c = 5

def func2():
    a = 5
    b = 6
    
    func1()
    
    print(a, b)

In [35]:
func2()

3 4 5
5 6

In [36]:
def func(a, b, c):
    print(a, b, c)

In [37]:
x = [1, 2, 3]
func(*x)

1 2 3

In [38]:
x = [1, 2, 3]
try:
    x[5]
except IndexError as e:
    print("잘못된 인덱스", e)

잘못된 인덱스 list index out of range

In [ ]:
try:
    print(10/0)