In [17]:
import pandas as pd

In [18]:
#첫번째 코드

In [19]:
a = "'나는' 조현영입니다."
print(a)

'나는' 조현영입니다.

In [20]:
a = "과일" +

SyntaxError: invalid syntax (<ipython-input-20-2bb799027e1b>, line 1)

In [21]:
a = "과일" + "사과"
print(a)

과일사과

In [22]:
a = "과일"*4
print(a)

과일과일과일과일

In [23]:
c = "abcdefg"
print(c[::3])

adg

In [24]:
d = (1,2,3,4,5,6,7,8,9,10,11,12)
print(d[9:12:2])

(10, 12)

In [25]:
name1 = "hyunyoung"
name2 = "Taekyung"
print("I am %10s! vs %s" % (name1, name2))

I am  hyunyoung! vs Taekyung

In [26]:
print("I like {0}, {1} !!".format("apple","banana"))

I like apple, banana !!

In [27]:
print("I like {1}, {0} !!".format("apple", "banana"))

I like banana, apple !!

In [28]:
print("I like {0}, {1}, {2}".format("apple", "peach", "banana"))

I like apple, peach, banana

In [33]:
math = 95
english = 65
science = 40
print(f"수학점수: {math} \n영어점수: {english:*^40} \n과학점수: {science}")

수학점수: 95
영어점수: *******************65*******************
과학점수: 40

In [38]:
word = "Apple banana"

In [39]:
len(word)

12

In [40]:
word = "Apple Banana"
len(word)

12

In [42]:
word = "Apple banana"
word.index

In [43]:
word = "Apple banana"
word.index("ba")

6

In [44]:
word = "Apple banana"
word.index("b")

6

In [45]:
word = "Apple banana"
word.upper()

'APPLE BANANA'

In [46]:
word = "Apple banana"
word.upper()

'APPLE BANANA'

In [47]:
word = "APPLE BAnana"
word.lower()

'apple banana'

In [48]:
word = "APPLE BANAna"
word.lower()

'apple banana'

In [49]:
word = "Apple banana"
word.replace("banana", "Orange")

'Apple Orange'

In [50]:
word = "Apple banana"
word.replace("banana", "Watermellon")

'Apple Watermellon'

In [57]:
word = "Apple Banana"
print(word.index("A"), "\n",
word.upper(), "\n",
word.lower(), "\n",
word.replace("Banana", "Orange"))

0
 APPLE BANANA
 apple banana
 Apple Orange

In [61]:
word = "apple = Apple"
print(word.replace("Apple", "사과"))

apple = 사과

In [65]:
word = "Apple Orange"
word.count("A")

1

In [66]:
word = "Apple Orange"
word.count('O')

1

In [68]:
word = "Apple Orange"
word.strip()

'Apple Orange'

In [69]:
word = "Apple Orange"
word.rstrip()

'Apple Orange'

In [70]:
word = "Apple Orange"
word.lstrip()

'Apple Orange'

In [73]:
word = "Apple Orange"
word.strip()

'Apple Orange'

In [74]:
word = " A pple O range "
word.rstrip()

' A pple O range'

In [75]:
word = " Apple Orange "
word.lstrip()

'Apple Orange '

In [76]:
word = " Apple Orange "
word.strip()

'Apple Orange'

In [77]:
a = ['a', 'c', 'b']
a.sort()
a

['a', 'b', 'c']

In [78]:
a = ['a', 'c', 'b']
a.reverse()
a

['b', 'c', 'a']

In [82]:
a = [1,2,3,4,5,6,7]
a = [1, "apple", 3.14, False]
type(a)

list

In [83]:
b = (1,2,3,4,5,6,7)
b = (1, "apple", 3.14, False)
type(b)

tuple

In [85]:
a = list(range(10))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [86]:
a = list(range(1, 11))
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [87]:
a = tuple(range(10))
a

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [90]:
a = list(range(-10,10,2))
a

[-10, -8, -6, -4, -2, 0, 2, 4, 6, 8]

In [92]:
a = list(range(5,0,-1))
a

[5, 4, 3, 2, 1]

In [93]:
a = [1,2,3,4,5,6,7]
type(a)

list

In [94]:
a = [1, "apple", 3.14, False]
type(a)

list

In [95]:
b = (1,2,3,4,5,6,7)
type(b)

tuple

In [96]:
b = (1, "apple", 3.14, False)
type(b)

tuple

In [97]:
a = list(range(10))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [98]:
a = list(range(-10,10,2))
a

[-10, -8, -6, -4, -2, 0, 2, 4, 6, 8]

In [100]:
a = list(range(5,0,-1))
a

[5, 4, 3, 2, 1]

In [101]:
a = [1,2,3,4,5]
tuple(a)

(1, 2, 3, 4, 5)

In [104]:
a = (1,2,3,4,5)
list(a)

[1, 2, 3, 4, 5]

In [105]:
a = [1,2,3,4,5,6,7,8.9,10]
a[2:8:2]

[3, 5, 7]

In [106]:
a = [1,2,3,4,5]
1 in a

True

In [107]:
6 in a

False

In [108]:
4 in a
8 in a

False

In [109]:
4 in a

True

In [110]:
a = [1,2,3,4,5]
b = [6,7,8,9]
a + b

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [111]:
a = [1,2,3]
a*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [112]:
a = [1,2,3]
len(a)

3

In [113]:
a = [1,2,3,4,5,6,7,8,9,10]
a[2:8:2]

[3, 5, 7]

In [114]:
a = [1,2,3,4,5,6,7,8,9,10]
a[:3]

[1, 2, 3]

In [116]:
a[3:]

[4, 5, 6, 7, 8, 9, 10]

In [117]:
a = [1,2,3,4,5]
a[1:4] = ["a", "b","c"]
a

[1, 'a', 'b', 'c', 5]

In [118]:
a[1:4] = ["d","e"]
a

[1, 'd', 'e', 5]

In [119]:
a = [1,2,3,6,7]
a.append(4)

In [120]:
print(a)

[1, 2, 3, 6, 7, 4]

In [125]:
lastname = ["kim", "park", "song", "yoon"]
lastname.remove("kim")
lastname

['park', 'song', 'yoon']

In [126]:
lastname.append("kim")
lastname

['park', 'song', 'yoon', 'kim']

In [127]:
lastname.insert(1, "Choi")
print(lastname)

['park', 'Choi', 'song', 'yoon', 'kim']

In [128]:
lastname = ["kim", "park", "song", "yoon"]
lastname.pop(0)

'kim'

In [129]:
a = [1,2,3]
a.pop(0)

1

In [130]:
a.pop()

3

In [131]:
a = [100, 200, 300]
a.remove(200)

In [132]:
a

[100, 300]

In [133]:
a = [1,2,3]
a.insert(2,100)
a

[1, 2, 100, 3]

In [134]:
a = [1,2,3,4,5]
a.append(6)
a

[1, 2, 3, 4, 5, 6]

In [135]:
a.extend([7,8])
a

[1, 2, 3, 4, 5, 6, 7, 8]

In [136]:
a.insert(2,100)

In [137]:
a

[1, 2, 100, 3, 4, 5, 6, 7, 8]

In [139]:
a = [1,2,3,4,5]
b = a.copy()
a is b

False

In [140]:
b[0] = 10

In [141]:
print(a)

[1, 2, 3, 4, 5]

In [143]:
a = [1,1,2,2,2,3,3]
a.count(2)

3

In [144]:
lastname = ["kim", "park", "song", "yoon"]
lastname.sort()
print(lastname)

['kim', 'park', 'song', 'yoon']